.metadata
Servers
/spring-demo-one/*
!/spring-demo-one/src
/spring-demo-annotations/*
!/spring-demo-annotations/src
/SpringMVCDemo/*
!/SpringMVCDemo/src
!/SpringMVCDemo/WebContent
/SpringMVCDemo/WebContent/
/HibernateTutorial/*
!/HibernateTutorial/src
/Hibernate-One-to-One/*
!/Hibernate-One-to-One/src
/Hibernate-One-to-Many/*
!/Hibernate-One-to-Many/src
/Hibernate-One-to-Many-Unidirectional/*
!/Hibernate-One-to-Many-Unidirectional/src
/Hibernate-Many-to-Many/*
!/Hibernate-Many-to-Many/src
/web-customer-tracker/*
!/web-customer-tracker/src
/spring-demo-aop/*
!/spring-demo-aop/src
/spring-demo-aop-pointcut-declarations/*
!/spring-demo-aop-pointcut-declarations/src
/mymavenapp
/mywebapp
/spring-security-demo-01-base-app/
/spring-security-demo-02-basic-security/
/spring-security-demo-03-custom-login-form/
/spring-crm-rest-demo/
*.DS_Store
